.col2-home {
  position: fixed;
  height: 40px;
  width: 800px;
  border-bottom: solid;
  font-size: 1.2em;
  font-weight: 800;
  background-color: #C2EDFF;
}

.col2-home img {
  height: 40px;
}

.col2-post {
  margin-top: 40px;
  height: 200px;
}

.col2-post-icon {
  display:inline;
  height: 60px;
  width: 60px;
  float: left;
  background-color: yellow;
  border-radius: 35px;
  margin-top: 10px;
  margin-left: 10px;
}

.col2-post-icon img {
  height: auto;
  width: 60px;
  border-radius: 30px;
  border: 2px solid white;
}

.col2-post-text {
  height: 80%;
}

.col2-post-text-container {
  height: 150px;
  width: 80%;
  margin-left: 20px;
  margin-top: 7px;
  border-radius: 20px;
  border: 1px solid #e1e1e1;
}

.col2-post-text-container input {

}

.col2-post-text-button {
  height: 30px;
  margin-left: 90%;
  margin-top: 5px;
  background: #2598FF;
  color: #fff;
  font-size: 1.0em;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #fdfdfd;
}

.col2-post-toolbar {
  height: inherit;
  margin-left: 80px;
}

.col2-post-toolbar-button {
  display:inline;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #C2EDFF;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

.col2-post-toolbar-button img {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.col2-post-toolbar-button:hover {
  border: 1px solid rgba(115, 160, 199, 0.274);
}

.col2-posts {
  height: auto;
  background-color: #fafafa;
}

.col2-posts-space {
  height: 10px;
  background-color: #fafafa;
}

.col2-posts-content {
  height: auto;
  border: 1px solid #e1e1e1;
  background-color: #C2EDFF;
}

.col2-posts-author {
  height: 60px;
}

.col2-posts-author-icon {
  height: 60px;
  width: 60px;
  float: left;
  background-color: yellow;
  border-radius: 35px;
  margin-top: 10px;
  margin-left: 10px;
}

.col2-posts-author-icon img {
  height: auto;
  width: 60px;
  border-radius: 30px;
  border: 2px solid white;
}

.col2-posts-author-info {
  float: left;
  margin-left: 15px;
  margin-top: 20px;
}

.col2-posts-author-info-name {
  font-size: 1.0em;
  font-weight: 800;
}

.col2-posts-author-info-email {
  font-size: 0.8em;
  font-weight: 200;
}

.col2-posts-main {
  height: auto;
  margin-left: 80px;
}

.col2-posts-main img {
  height: auto;
  width: 83%;
  border-radius: 30px;
}

.col2-posts-content-info {
    margin-top: 10px;
    float: right;
    font-size: 13px;
}

.col2-posts-content-info-left {
    color: #2aa3ef;
}
.col2-posts-content-info-right {
    color: #69777f;
    margin: 10px;
}

.col2-posts-toolbar {
}

.col2-posts-toolbar-button {
  display:inline;
  margin-left: 80px;
  width: 40px;
  height: 40px;
  border: 1px solid #C2EDFF;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

.col2-posts-toolbar-button img {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.col2-posts-toolbar-button:hover {
  border: 1px solid rgba(115, 160, 199, 0.274);
}
